<div class="registrations-new">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center mb-4">新規登録</h2>

        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          
          <div class="signup-form">
            <div class="field mb-3">
              <%= f.label :user_name, "ユーザー名" do %>
                ユーザー名<span class="badge bg-danger ms-1">必須</span>
              <% end %><br />
              <%= f.text_field :user_name, autofocus: true, class: "form-control" %>
            </div> 

            <div class="field mb-3">
              <%= f.label :name, "表示名" do %>
                表示名<span class="badge bg-danger ms-1">必須</span>
              <% end %><br />
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div> 

            <div class="field mb-3">
              <%= f.label :email, "メールアドレス" do %>
                メールアドレス<span class="badge bg-danger ms-1">必須</span>
              <% end %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="field mb-3">
              <%= f.label :password, "パスワード" do %>
                パスワード<span class="badge bg-danger ms-1">必須</span>
              <% end %><br />
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="field mb-3">
              <%= f.label :password_confirmation, "パスワード(確認用)" do %>
                パスワード(確認用)<span class="badge bg-danger ms-1">必須</span>
              <% end %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="field mb-3">
              <%= f.label :organization_name, "自治体名" do %>
                自治体名<span class="badge bg-danger ms-1">必須</span>
              <% end %><br />
              <%= f.text_field :organization_name, autofocus: true, class: "form-control" %>
            </div>
            
            <div class="field mb-3">
              <%= f.label :department_name, "部署名" do %>
                部署名<span class="badge bg-secondary ms-1">任意</span>
              <% end %><br />
              <%= f.text_field :department_name, autofocus: true, class: "form-control" %>
            </div>  

            <div class="field mb-3">
              <%= f.label :job_category_id, "業務分野" do %>
                業務分野<span class="badge bg-danger ms-1">必須</span>
              <% end %><br />
              <%= f.select :job_category_id, JobCategory.all.map { |category| [category.name, category.id] }, { include_blank: "選択してください" }, class: "form-control" %>
            </div>

            <div class="field mb-3">
              <%= f.label :profile_text, "紹介文" do %>
                紹介文<span class="badge bg-secondary ms-1">任意</span>
              <% end %><br />
              <%= f.text_area :profile_text, autofocus: true, class: "form-control", rows: 3 %>
            </div>

            <div class="actions text-center mb-3">
              <%= f.submit "サインアップ", class: "btn btn-primary" %>
            </div>
            <div class="actions text-center mb-3">
              <%= link_to "トップページへ戻る", root_path, class: "btn btn-secondary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>