<div class="posts-view">
  <div class="container search-container">
    <div class="row g-0 mx-0">
      <div class="col-12">
        <%= form_with url: posts_path, method: :get, class: "search-form" do |f| %>
          <div class="flex-grow-1">
            <%= f.text_field :keyword, placeholder: "キーワード検索", class: "form-control" %>
          </div>
          <div class="flex-grow-1">
            <%= f.select :job_category_id,
                JobCategory.all.map { |c| [c.name, c.id] },
                { include_blank: "業務分野を選択" },
                class: "form-select" %>
          </div>
          <div class="flex-grow-1">
            <%= f.select :style_id,
                Style.all.map { |s| [s.name, s.id] },
                { include_blank: "投稿スタイルを選択" },
                class: "form-select" %>
          </div>
          
          <%= f.submit "検索", class: "btn btn-primary" %>
        <% end %>

        <div class="d-flex justify-content-end mt-2 mb-3 reset-search">
          <%= link_to "検索クリア", posts_path, class: "btn btn-secondary" %>
        </div>
        
        <% if @posts.empty? && (params[:keyword].present? || params[:job_category_id].present? || params[:style_id].present?) %>
          <div class="alert mt-3">
            検索条件に一致する投稿が見つかりませんでした。
          </div>
        <% end %>
      </div>
    </div>
    <div class="mt-4">
      <%= render "index", posts: @posts %>
    </div>
  </div>
</div>