<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="mb-5"><%= @post.title %></h1>
      
      <div class="mb-5">
        <h4>本文</h4>
        <p><%= @post.content %></p>
      </div>

      <div class="mb-5">
        <h4>業務分野</h4>
        <p><%= @post.job_category.name %></p>
      </div>

      <div class="mb-5">
        <h4>投稿スタイル</h4>
        <p><%= @post.style.name %></p>
      </div>

      <% if @post.image_id.present? %>
        <div class="mb-5">
          <h4>画像</h4>
          <%= attachment_image_tag(@post, :image, class: "img-fluid", style: "height: 600px; width: auto;") %>
        </div>
      <% end %>
      <div class="mt-6 mb-5">
        <div class="d-flex justify-content-center gap-3">
          <%= link_to "編集する", edit_post_path(@post), class: "btn btn-primary" %>
          <%= link_to "削除する", post_path(@post), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>

